@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, input, th, strong {
	font-family: 'Montserrat', sans-serif;;
	font-size: 13pt;
    font-weight: 450;
	line-height: 1.4;
	-webkit-font-smoothing: subpixel-antialiased;
}

h1 {
    font-size: 16pt;
    font-weight: 700;
}

h2 {
    font-size: 15pt;
    font-weight: 600;
}

h3 {
    font-size: 14pt;
    font-weight: 500;
}

em {
	font-style: normal;
}