:root {
  --clock_size: 100vmin;
}

body {
	margin:0px;
	padding:0px;
	min-height: 100vh;
	background-image: none;
	background-color: black;
}

.clock-box {
	margin-top: 0px;
	position: relative;
	width: var(--clock_size);
	height: var(--clock_size);
	margin-left: auto;
	margin-right: auto;
}

.clockbase::before { content:url("svg/clockbase.svg"); }
.hours::before { content:url("svg/hours.svg"); }
.minutes::before { content:url("svg/minutes.svg"); }
.seconds::before { content:url("svg/seconds.svg"); }
.masks::before { content:url("svg/masks.svg"); }

.clockbase, .seconds, .minutes, .hours, .masks {
	width: var(--clock_size);
	height: var(--clock_size);
	position: absolute;
	transition-timing-function: ease;
}

.resize-animation-stopper * {
	transition: none !important;
	animation: none !important;
}
