@font-face {
    font-family: 'Ubuntu Sans';
    src: url('../../fonts/ubuntu-sans/UbuntuSans-VariableFont_wdth,wght.ttf') format('truetype');
}

body, input, th, strong {
	font-family: 'Ubuntu Sans';
	font-size: 14pt;
    font-weight: 450;
	line-height: 1.3;
	-webkit-font-smoothing: subpixel-antialiased;
}

h1 {
	font-family: 'Ubuntu Sans';
    font-size: 18pt;
    font-weight: 650;
	font-stretch: semi-condensed;
}

h2, h3 {
	font-family: 'Ubuntu Sans';
    font-size: 14pt;
    font-weight: 600;
}

em {
	font-style: normal;
}

@media only screen and (max-width: 790px) {
	body, input, th, strong {
		font-size: 20px;
		font-weight: 500;
	}
	h1, h2, h3 {
		font-size: 24px;
		font-weight: 650;
	}
}